* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 47px 0 0 42px;
}

a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #19173d;
    text-decoration: none;
    margin: 0 32px 0 0;
}

.button-header {
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    /* texto */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-header:hover {
    opacity: 0.40;
}

.button-header:active {
    opacity: 0.70;
}

.section-left {
    margin: 163px 0 0 0;
    display: inline-block;
    min-width: 280px;
    max-width: 1500px;
}

img {
    max-width: 595.18px;
    height: 500px;
    margin: 0 0 0 125px;
    width:100%;
}

.section-right {
    display: inline-block;
    margin: 0 0 0 96px;
    padding: 0;
    min-width: 280px;
    max-width: 1500px;
    width: 20%;
}

h1 {
    width: 583px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    margin: 0 0px 47px 0;
}

p {
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 0 0px 55px 0px;
}

.button-right {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    background: none;
    border: none;
    cursor: pointer;
}

.button-right:hover {
    color: darkgreen;
}

.button-right:active {
    opacity: 0.70;
}
    /* PRIMEIRA QUEBRA */
 @media screen and (max-width: 1405px) {
    img {
        margin: 0;
    }

    .section-left {
        margin: 163px 0 0 20px;
        min-width: 280px;
        max-width: 1500px;
        width: 40%;
    }

    .section-right {
    margin: 0 0 0 70px;
    min-width: 280px;
    max-width: 1500px;
    width: 40%;
    }   
} 
  
    /* SEGUNDA QUEBRA */
 @media screen and (max-width: 1023px) {
    header :not(.button-header){
    display: none;
    width: 100%;
    }

    .button-header{
        max-width: 91px;
        height: 31px;
        position: absolute;
        right: 0%;
        margin-right: 10px;
    }

    .section-left{
        width: 90%;
        height: 35vh;
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
    }

    img{
        max-width: 312px;
        height: 288px;
        margin: auto;
        display: block;     
    }

    .section-right{
        display: block;
        padding: 0;
        margin: 0;
        min-width: 280px;
        max-width: 1500px;
        width: 100%;
        height: 60vh;
        text-align: center;
        position: absolute;
        top: 18%;
    }

    h1{
        font-size: 30px;
        line-height: 30px;
        max-width: 278px;
        height: 60px;
        margin: auto;
        margin-bottom: 29px;
        text-align: center;
    }

    p{
        max-width: 304px;
        height: 165px;
        margin: auto;
        margin-bottom: 26px;
        text-align: center;
    }

    .button-right{
        max-width: 113px;
        height: 27px;
        margin: auto;
        text-align: center;
    }
}
    /* TERCEIRA QUEBRA */
  @media screen and (max-width: 540px) {

    p{
        width: 250px;
        font-size: 14px;    
    }

    img{
        margin-top: 30px;
        max-width: 300px;
    }
}
    /* QUARTA QUEBRA */ 
@media screen and (max-width: 375px) {
    p{
        width: 250px;
        font-size: 14px;    
    }

    img{
        margin-top: 45px;
        max-width: 300px;
    }

    .button-header{
        position: absolute;
        right: 0%;
        margin-right: 15px;
    }
}
    /* QUINTA QUEBRA */
@media screen and (max-width: 280px) {
    p{
        width: 250px;
        font-size: 14px;    
    }

    img{
        margin-top: 50px;
        margin-left: 0;
        height: 300px;
        max-width: 250px;
        width: 90%;
    }

    .button-header{
        max-width: 91px;
        height: 31px;
        position: absolute;
        right: 0%;
        margin-right: 10px;
    }
} 